name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sast_scan:
    name: Run SAST Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.28.0
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:2
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'
      - name: Upload build artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: trivy-results
          path: trivy-results.sarif

  image_scan:
    name: Build Image and Run Image Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build Docker Image
        run: docker build -f Dockerfile -t pygoat_app:latest .
      - name: Docker Scout CVEs SARIF
        uses: docker/scout-action@v1.15.0
        with:
          dockerhub-user: ${{ secrets.REPO_USER }}
          dockerhub-password: ${{ secrets.REPO_PWD }}
          command: cves
          image: pygoat_app:latest
          only-severities: critical,high
          save-results: true
          sarif-file: scout-report.sarif
      - name: Verify SARIF exists
        run: test -f scout-report.sarif && ls -la scout-report.sarif
      - name: Upload Artifact
        uses: actions/upload-artifact@v4.4.3
        if: always()
        with:
          name: docker-scout-findings
          path: scout-report.sarif
